

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: TerraformTask@5
  displayName: init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Dev'
    backendServiceArm: 'EnvironmentDevProdQA'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'storagecontainer38'
    backendAzureRmKey: '9838'
